<html>
<head>
    <title>Main Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
Hello <%=fullname%>!
<br>
Date Logged in:<%=dl%><br>
Time Logged In:<%=tl%><br>
</body>
</html>