<html>
<head>
    <title>Main Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="design.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/dedfb313b8.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>

</head>
<body onload="$(document).foundation()">
    <div class="off-canvas-wrapper">
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas data-tranisition="overlap">
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <i class="far fa-times-circle"></i>
            </button>
            <ul>
                <li><span class="white-text">Hello <%=fullname%>!</span></li>
                <li>Account Type: <%=acc_type%></li>
                <li>Date Logged in:<%=dl%></li>
                <li>Time Logged In:<%=tl%></li>
            </ul>
            Menu
            <% if (acc_type==0){ %>
            <ul>
                <li><a href="#">View Users</a></li>
                <li><a href="#">Add User</a></li>
            </ul>
            <% } %>
            <ul>
                <li><a href="/items">View Items</a></li>
                <li><a href="/items/additem">Add Item</a></li>
            </ul>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <button type="button" class="button" data-toggle="offCanvas"><i class="fas fa-bars"></i></button>
        </div>
    </div>
</body>
</html>