<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
    <form method="POST" action="/loginprocess">
        Username: <input type="text" name="txt_uname" placeholder="Enter username">
        <br>
        Password: <input type="password" name="txt_pword" placeholder="Enter password">
        <br>
        <input type="submit" name="login_submit" value="Login">
    </form>
</body>
</html>